body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.app.goo.gl/Dt5oULQH7XwGvdLs7'); /* Replace 'background.jpg' with the path to your background image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Add transparency for better readability */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(12, 9, 196, 0.1);
}

h1 {
    text-align: center;
}

label,
input,
button,
select,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#message {
    text-align: center;
    margin-top: 20px;
}
